BEARER = "YOUR BEARER"
AMA_KEY = "YOUR API KEY"
AMA_SECRET = "YOUR API SECRET"
TWILIO_SID = "YOUR API SID"
TWILIO_AUTH = "YOUR API AUTH TOKEN"
SHEETY_ENDPOINT = "YOUR SHEETY ENDPOINT"    # from google sheets handler api